<body>
<table class="table" >
    <thead>
      <tr>
        <th scope="col">Age</th>
        <th scope="col">Nom </th>
        <th scope="col">Prenom </th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <!--declare  ngfore de liste  dans tr de tbody-->
      <tr *ngFor="let item of users">
        <td >{{item.age}}</td>
        <td>{{item.nom}}</td>
        <td>{{item.prenom}}</td>
        <td>{{item.email}}</td>
        <td><button class="delete-btn" (click)="deleteUser(item.id)">Supprimer</button></td>
      </tr>
      </tbody>
  </table>
</body>